.wrapper {
	margin:    1em auto;
	padding:   0 1em;
	max-width: $max-width;
}

.center {
	text-align: center;
}

.footnote {
	padding-left: .5em;
	font-size:    $small-font-size;
	border-left:  1em solid $grey-color-light;
}

.chat blockquote {
	margin: 0 0 1em;
}

/*****************************
 * HEADER
 *****************************/
.site__header {
	max-width:  28em;
}

.site__title {
	font-family: 'Exo 2', sans-serif;
	font-size:   2em;
	text-align:  center;

	&:hover {
		text-decoration: none;
	}

	span {
		display:      block;
		line-height: .9;
	}

	.logo {
		display: inline-block;
	}
}

.first {
	text-transform: uppercase;
	letter-spacing: .5em;
}

.second {
	position:     relative;
	margin:      .8em auto;
	padding:     .3em 0;
	font-size:    $small-font-size*1.5;
	font-weight:  bold;
	word-spacing: 5em;
	border:       solid $brand-color;
	border-width: .1em 0;	
}

.logo {
	position: absolute; 
	top:      50%;
	left:     50%;
	height:   2em;
	width:    2em;
	padding: .2em;
	transform:        translate(-50%, -50%);
	background-color: $brand-color;
	border-radius:    50%;
}

.third {
	font-family:   'Alegreya', serif;
	font-style:     italic;
	text-transform: capitalize;
}

/*****************************
 * POSTS
 *****************************/
.post__title {
	max-width:   13.5em;
	font-size:   2.6em;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
	text-align:  center;
}

.post__meta {
	margin:       0;
	padding:      0;
	font-family:  'Alegreya', serif;
	font-weight:  300;
	font-style:   italic;
	color:        $grey-color;
	text-align:   center;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #ddd 5px, #ddd 10px);

	span {
		display: inline-block;
		padding: .5em 1em;
		background: $background-color;
	}

	.separator {
		padding: 0 .5em;
		width:   1em;
		height:  1em;
	}
}


.post__content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 2.0em;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.2em;
	}
}

/*****************************
 * PAGES
 *****************************/
.page__header {
	font-size: 20px;
}

/*********************************
 *  NAVIGATION
 *********************************/
.nav {
	display:     flex;
	flex-flow:   row nowrap;
	width:       100%;
	font-size:   $small-font-size;
	line-height: 3;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #ddd 5px, #ddd 10px);

	a {
		box-sizing: border-box;
		flex:       1 1 100%;
		padding:   .5em 1em;

		&:visited {
			path {
				fill: $grey-color;
			}
		}

		&:hover {
			background: $grey-color-light;

			path {
				fill: $text-color;
			}
		}

		svg {
			max-width:  3em;
			max-height: 3em;
		}

		path {
			fill: $brand-color;
		}
	}
}

.nav__text {
	display: none;
}

.nav__home {
	text-align: center;
}

.nav__right {
	text-align: right;
}

.nav__disabled {
	svg,
	span {
		display: none;
	}
}

/*****************************
 * FOOTER
 *****************************/
.site__footer {
	padding-top:    $spacing-unit;
	padding-bottom: $spacing-unit;
}

.footer__col {
	font-size: $small-font-size;
	color:     $grey-color;
}

.footer__col-1,
.footer__col-2 {
	box-sizing:     border-box;
	vertical-align: top;
}

.social {
	list-style:   none;
	margin:       auto;
	padding-left: 0;
	text-align:   center;

	li {
		display: inline-block;
		padding: 1em;
	}

	a {
		color: $grey-color;

		path {
			fill: $grey-color;
		}

		&:hover {
			color: $text-color;

			path {
				fill: $text-color;
			}
		}
	}
}

.social__icon,
.social__username {
	display: block;
}

.social__icon svg {
	width:  2em;
	height: 2em;
}

#link {
	width:  .7em;
	height: .7em;
	fill: currentcolor;
}